
.vegas-facts {
    @extend %section;
    padding: 20px;
    margin-top: 91px;
    text-align: center;

    h3 {
        padding-top: 28px;
    }

    .vegas-fact {
        margin-top: 54px;
        padding: 20px;
        text-align: center;
        max-width: 25%;
        i {
            color: $purple;
        }
        h3 {
            font-size: 20px;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .vegas-facts {
        .vegas-fact {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}