%purple-btn {
	background-color: $purple;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
	font-size: 20px;
	font-family: proxima-nova, sans-serif;
	color: $white;
	border-radius: 5px;
	margin-top: 30px;
	cursor: pointer;
	width: 100%;
}

%section {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
}


%padding {
    padding: 20px;
}

%cta-btn {
	padding: 30px;
	background-color: $purple;
	border-radius: 10px;
	text-align: center;
	background-repeat: no-repeat;
    background-size: cover;

     a {
     	color: $white;
        text-decoration: none;
     }

    :hover {
     	border-color: $white;
     	border-width: 5px;
     }
}