h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: $purple;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: $purple;
}

h4 {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: $purple;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: $fontgrey; 
}


