.wrapper{
    width: 100%;
    height: 75vh;
    overflow: hidden;

    .home-heading {
        position: absolute;
        margin-top: -430px;
        font-size: 80px;
        text-transform: uppercase;
        color: $white;
        animation-delay: 1s;
    }

    .home-subheading {
        font-size: 40px;
        position: absolute;
        margin-top: -350px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        animation-delay: 1.5s;
    }
}

.wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main {
    margin-top: 111px;

    .home-content {
        max-width: 630px;
        strong {
            color: $purple;
        }

        .home-btn {
            @extend %purple-btn;
            max-width: 50%;
            margin-left: 0;
        }
    }
}

.social-med {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
    padding: 130px 0 57px;
    img {
        height: 25px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .wrapper{
        .home-heading {
            font-size: 60px;
        }
    }

    .social-med {
        padding: 50px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

}




