.wrapper{
    width: 100%;
    height: 65vh;
    overflow: hidden;

    .page-heading {
        position: absolute;
        margin-top: 300px;
        
        h1 {
            font-size: 80px;
            text-transform: uppercase;
            color: $white;
            animation-delay: 1s;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            animation-delay: 1.5s;
        }
    }

    .home-subheading {
        font-size: 40px;
        position: absolute;
        margin-top: -350px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        animation-delay: 1.5s;
    }
}

.wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main {
    margin-top: 111px;

    .flex {
        justify-content: space-between;
    }

    .home-content {
        max-width: 630px;
        strong {
            color: $purple;
        }

        .home-content-btn {
            @extend %purple-btn;
            max-width: 50%;
            margin-left: 0;
            text-align: center;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .home-cta-btns {
        margin-top: 24px;
        width: 369px;
        a {
            text-decoration: none;
        }
    }

    .home-cta {
        @extend %section;
        margin-top: 24px;
        padding: 10px;
        text-align: left;

        .flex {

        }

        i {
            color: $purple;
        }
    }
}

.social-med {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
    padding: 130px 0 57px;
    img {
        height: 25px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .wrapper{
        height: 50vh;

        .page-heading {
            margin-top: 200px;
            h1 {
                font-size: 60px;
            }
        }
    }

    main {
        .home-content {
            .home-content-btn {
                margin-left: auto;
            }
        }

        .home-cta-btns {
            width: 100%;
        }

    }

    .social-med {
        padding: 50px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

    .wrapper{
        height: 50vh;
        .page-heading {
            margin-top: 200px;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

    .wrapper{
        height: 50vh;
        .page-heading {
            margin-top: 200px;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {
    .flex {
        flex-wrap: wrap;
    }
}




