.hotel-btn {
    @extend %purple-btn;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    a {
        text-decoration: none;
        color: $white;
    }
}

.hotel-gallery-holder {
    margin-top: 71px;
    text-align: center;

    h3 {
        margin-bottom: 42px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .hotel-gall-img {
        width: 31%;
        margin-bottom: 35px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hotel-btn {
        max-width: 80%;
    }

    .hotel-gallery-holder {
        .hotel-gall-img {
            width: 100%;
            margin-bottom: 35px;
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    .hotel-gallery-holder {
        .hotel-gall-img {
            width: 47%;
            margin-bottom: 35px;
        }
    }
}







