/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        margin: 15px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .container {
        width: auto;
    }

    .plane {
        width: 45vw;
        order: 2;
        margin-top: 0;
        height: 250px;
    }

    .copy-container {
        width: 100vw;
        order: 1;
    }

    .pin {
        width: 45vw;
        order: 3;
        margin-top: 0;
        height: 250px;
    }

    .left {
        margin-top: 30px;
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .logo {
        width: 50%;
    }

    .right {
        margin-top: 30px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .social-media-icons {
        margin-top: 0;
    }

    .small-print {
        width: 90%
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

    body {
        margin: 15px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .plane {
        width: 47vw;
        order: 2;
        margin-top: 0;
        height: 250px;
    }

    .copy-container {
        width: 100vw;
        order: 1;
    }

    .container {
        width: auto;
    }

    .pin {
        width: 47vw;
        order: 3;
        margin-top: 0;
        height: 250px;
    }

    .left {
        margin-top: 50px;
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .logo {
        width: 50%;
    }

    .right {
        margin-top: 50px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .social-media-icons {
        margin-top: 0;
    }

    .small-print {
        width: 90%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

        body {
        margin: 15px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .plane {
        width: 47vw;
        order: 2;
        margin-top: 0;
        height: 250px;
    }

    .copy-container {
        width: 100vw;
        order: 1;
    }

    .container {
        width: auto;
    }

    .pin {
        width: 47vw;
        order: 3;
        margin-top: 0;
        height: 250px;
    }

    .left {
        margin-top: 50px;
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .logo {
        width: 50%;
    }

    .right {
        margin-top: 50px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .social-media-icons {
        margin-top: 0;
    }

    .small-print {
        width: 90%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 991px) 
and (max-width: 1200px) {

    body {
        margin: 0;
    }

    .plane {
        width: 20vw;
        margin-top: 0;
        height: 250px;
    }

    .copy-container {
        width: 60vw;
    }

    .pin {
        width: 20vw;
        margin-top: 0;
        height: 250px;
    }   

    .left img {
        width: 100%;
    }

    .right {
        margin-top: 20px;
        text-align: center;
    }

    .social-media-icons {
        margin-top: 0;
    }

    .small-print {
        width: 90%
    }
}