/* navigation */
    header {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        background-color: $purple;
        height: 90px;

        .header-logo {
          height: 70px;
          padding: 10px 0;
        }

        .flex {
          justify-content: space-between;
        }
    }

    .nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-family: proxima-nova, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      li {
          padding: 15px 15px;
          cursor: pointer;
          margin-top: 10px;
      }

      a {
          text-decoration: none;
          color: $white;
          &:hover {
            transition: 0.4s;
          }
      }
    }

    /* Style the menu link */
    .js .nav .skip {
      position: absolute;
      font-weight: 600;
      right: 1em;
      top: 0.9em;
      overflow: hidden;
      width: 2.9em;
      height: 2.5em;
      text-align: center;
      line-height: 2.5em;
      text-transform: uppercase;
      text-decoration: none;

          &:hover {
              transition: .4s;
          }
      } 

    /* Give the .nav ul a height when it's been opened, i.e. make it show */
    .js .nav ul.open {
      max-height: 70em;
    }

    /* Hide and position the closed .nav ul */
    .js .nav ul {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      right: 1em;
      top: 3.5em;
      transition: max-height 0.25s ease-out;
    }

    /* Style the list items to appear under the menu link */
    .js nav li {
      text-align: right;
    }

    /* Style the list item links for ease of touch on small screens */
    .js nav li a {
      padding: 0.5em;
      display: block;
    }

  /* Style the menu link */
  .js .nav .skip {
    position: absolute;
    font-weight: 600;
    right: 1.3em;
    top: 0.9em;
    overflow: hidden;
    width: 2.9em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: din-2014, sans-serif;

        &:hover {
            transition: .4s;
        }
    } 

  /* Give the .nav ul a height when it's been opened, i.e. make it show */
  .js .nav ul.open {
    max-height: 70em;
  }

  /* Hide and position the closed .nav ul */
  .js .nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 1em;
    top: 3.5em;
    transition: max-height 0.25s ease-out;
  }

  /* Style the list items to appear under the menu link */
  .js nav li {
    text-align: right;
  }

  /* Style the list item links for ease of touch on small screens */
  .js nav li a {
    padding: 0.5em;
    display: block;
  }
/* navigation end */

/* On screens larger than 818px, remove the menu link and display all menu items */
@media screen and (min-width: 1200px) {
  .js .nav ul {
    overflow: auto;
    max-height: inherit; 
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }
  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }
  .js .nav li:last-child {
    border: 0;
  }
  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}