
.perf-container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: 130px;

    h1 {
        text-transform: uppercase;
        color: $purple;
        font-weight: 600;
        margin-bottom: 51px;
    }

    h2,h3 {
        padding: 20px;
    }

    h3 {
        padding-bottom: 0;
    }

    p {
        padding-top: 5px;
    }

    hr {
       border-width: 1px;
        border-color: rgb(225, 224, 224);
        border-style: solid;
        background-color: rgb(0, 0, 0);
    }

    .flex {
        justify-content: space-between;
    }
}

hr {
    margin: 0;
}

%section {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
}

%padding {
    padding: 20px;
}

.section {
    @extend %section;
}

.welcome {
    width: 55%;
}

.info {
    @extend %padding;
}

.enrollment {
    width: 40%;
}


.points {
    @extend %section;
    margin-top: 42px;
    border-style: solid;
    border-width: 2px;
    border-color: $purple;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);

    .points-header {
        background-color: $purple;
        h2 {
            color: $white;
        }
    }

    h3 {
        padding: 0;
        font-weight: 600;
        font-size: 30px;
    }

    .points-calc {
        width: 48%;
    }
}

.totals-holder {
    .totals {
        @extend %section;
        width: 31%;
        margin-top: 42px;

        h2 {
            color: $lightpurple;
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .flex {
        flex-wrap: wrap;
    }
    .welcome, .enrollment {
        width: 100%;
        margin-bottom: 20px;
    }

    .points {
        margin-top: 0;
        .points-calc {
            width: 100%;
        }
    }

    .totals-holder {
        .totals {
            width: 100%;
            margin-top: 20px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

    .flex {
        flex-wrap: wrap;
    }

    .welcome, .enrollment {
        width: 48%;
    }

    .info {
        width: 100%;
    }

    .enrollment {
        .login-arg {
            padding-top: 0;
        }
    }

    .points {
        .flex {
            flex-wrap: nowrap;
            justify-content: space-between;
        }


        .points-calc {
            width: 100%;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

    .flex {
        flex-wrap: wrap;
    }

    .welcome, .enrollment {
        width: 48%;
    }

}
