.pin {
    margin-top: 150px;
    width: 25vw;
    fill: #fff;
    svg {
        height: 140px;
        width: 100%;
    }
}

.Layer_2 {
    animation-delay: .5s;
}

.Layer_4 {
    animation-delay: .65s;
}

.Layer_5 {
    animation-delay: .7s;
}

.Layer_6 {
    animation-delay: .75s;
}

.Layer_7 {
    animation-delay: .8s;
}

.Layer_8 {
    animation-delay: .85s;
}

.Layer_9 {
    animation-delay: .9s;
}

.Layer_10 {
    animation-delay: .95s;
}

.Layer_11 {
    animation-delay: 1s;
}

.Layer_12 {
    animation-delay: 1.05s;
}

.Layer_13 {
    animation-delay: 1.10s;
}

.Layer_14 {
    animation-delay: 1.15s;
}

.Layer_15 {
    animation-delay: 1.2s;
}

.Layer_16 {
    animation-delay: 1.25s;
}

.Layer_17 {
    animation-delay: 1.3s;
}

.Layer_18 {
    animation-delay: 1.35s;
}

.Layer_19 {
    animation-delay: 1.4s;
}

.Layer_20 {
    animation-delay: 1.45s;
}

.Layer_21 {
    animation-delay: 1.5s;
}

.Layer_22 {
    animation-delay: 1.55s;
}

.Layer_23 {
    animation-delay: 1.6s;
}

.Layer_24 {
    animation-delay: 1.65s;
}

.Layer_25 {
    animation-delay: 1.7s;
}

.Layer_26 {
    animation-delay: 1.75s;
}

.Layer_27 {
    animation-delay: 1.8s;
}

.Layer_28 {
    animation-delay: 1.85s;
}

.Layer_29 {
    animation-delay: 1.9s;
}

.Layer_30 {
    animation-delay: 1.95s;
}

.Layer_31 {
    animation-delay: 2s;
}

.Layer_32 {
    animation-delay: 2.05s;
}

.Layer_33 {
    animation-delay: 2.10s;
}

.Layer_34 {
    animation-delay: 2.15s;
}

.Layer_35 {
    animation-delay: 2.2s;
}

.Layer_36 {
    animation-delay: 2.25s;
}










