.plane {
    margin-top: 250px;
    fill: #fff;
    width: 25vw;
    svg {
        height: 380px;
        width: 95%;
    }
}

.Layer_18_1_ {
    animation-delay: 4s;
}

.Layer_19_1_ {
    animation-delay: 4.1s;
}

.Layer_20_1_ {
    animation-delay: 4.2s;
}

.Layer_21_1_ {
    animation-delay: 4.3s;
}

.Layer_22_1_ {
    animation-delay: 4.4s;
}

.Layer_23_1_ {
    animation-delay: 4.5s;
}

.Layer_24_1_ {
    animation-delay: 4.5s;
}

.Layer_25_1_ {
    animation-delay: 4.6s;
}

.Layer_26_1_ {
    animation-delay: 4.7s;
}

.Layer_27_1_ {
    animation-delay: 4.8s;
}

.Layer_28_1_ {
    animation-delay: 4.9s;
}

.Layer_29_1_ {
    animation-delay: 5s;
}

.Layer_30_1_ {
    animation-delay: 5.1s;
}

.Layer_31_1_ {
    animation-delay: 5.2s;
}

.Layer_32_1_ {
    animation-delay: 5.3s;
}

.Layer_33_1_ {
    animation-delay: 5.4s;
}

.Layer_34_1_ {
    animation-delay: 5.5s;
}

.Layer_35_1_ {
    animation-delay: 5.6s;
}

.Layer_36_1_ {
    animation-delay: 5.5s;
}

.Layer_37 {
    animation-delay: 5.6s;
}

.Layer_38 {
    animation-delay: 5.7s;
}

.Layer_39 {
    animation-delay: 5.8s;
}

.Layer_40 {
    animation-delay: 5.9s;
}

.Layer_41 {
    animation-delay: 6s;
}

.Layer_42 {
    animation-delay: 6.1s;
}

.Layer_43 {
    animation-delay: 6.2s;
}

.Layer_44 {
    animation-delay: 6.3s;
}

.Layer_45 {
    animation-delay: 6.4s;
}

.Layer_46 {
    animation-delay: 6.5s;
}

.Layer_47 {
    animation-delay: 6.6s;
}

.Layer_48 {
    animation-delay: 6.7s;
}

.Layer_49 {
    animation-delay: 6.8s;
}

.Layer_50 {
    animation-delay: 6.9s;
}

.Layer_51 {
    animation-delay: 7s;
}

.Layer_52 {
    animation-delay: 7.1s;
}

.Layer_53 {
    animation-delay: 7.2s;
}

.Layer_54 {
    animation-delay: 7.3s;
}

.Layer_55 {
    animation-delay: 7.4s;
}

.Layer_56 {
    animation-delay: 7.5s;
}

.Layer_57 {
    animation-delay: 7.6s;
}

.Layer_58 {
    animation-delay: 7.7s;
}

.Layer_59 {
    animation-delay: 7.8s;
}

.Layer_60 {
    animation-delay: 7.9s;
}

.Layer_61 {
    animation-delay: 8s;
}

.Layer_62 {
    animation-delay: 8.1s;
}

.Layer_63 {
    animation-delay: 8.2s;
}

.Layer_64 {
    animation-delay: 8.3s;
}

.Layer_65 {
    animation-delay: 8.4s;
}

.Layer_66 {
    animation-delay: 8.5s;
}

.Layer_67 {
    animation-delay: 8.6s;
}

.Layer_68 {
    animation-delay: 8.7s;
}

.Layer_3_1_ {
    animation-delay: 8.8s;
}








