@import'plane';

$purple: #3c2a66;

body {
    background-color: $purple;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.left {
    max-width:490px; 
    img {
       height: 90px; 
    }
    
}