@import'colors';
@import'extends';
@import'plane';
@import'pin';
@import'nav';
@import'fonts';
@import'login';
@import'performance';
@import'home';
@import'landing';
@import'footer';

body {
    background-color: $bggrey;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

.flex {
    display: flex;
}